body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
}
button {
    font-size: 1.1rem;
}
#main-content {
    flex-grow: 1;
    display: flex;
}
header {
    border-bottom: 1px solid black;
    padding-left: 3vw;

}
footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    border-top: 1px solid black;

}
.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding: 1rem 3rem;

}
.main {
    flex-grow: 1;
    padding-left: 5vw;
}
.sidebar button {
    margin-bottom: 3vh;
}
.list-container ul {
    list-style-type: none;
}
.created-projects {
    display: flex;
    flex-direction: column;
}
li:hover {
    background-color: lightgrey;
}

.task-bar { 
    /* initial state is to hide taskBar for taskBar and addTask btn interaction*/
    display: none;
}

.created-projects-buttons {
    display: flex;
    flex-direction: column;
}